<%=stylesheet_link_tag "search.css" %>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div align=center>
    <%= form_with url: "/search", method: :get do |form| %>
        <%= form.text_field :query %>
        <br>
        <%= form.submit "Search" %>
    <% end %>
</div>