<%=stylesheet_link_tag "search.css" %>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div align="center">
    <input type="text" name="search" id="" value="" /> 
</div>
<br>
<div align="center">
    <button>Search</button>
</div>
