
<%= javascript_include_tag 'application' %>

<p> Result </p>
<%= pie_chart(@result_num, refresh: 5) %>
<p> Like </p>
<%= pie_chart("http://demo.csye7200.xyz/result?query=" + params[:query] + "&token=" + params[:token] + "&type=like", refresh: 5) %>
<p> Forward </p>
<%= pie_chart("http://demo.csye7200.xyz/result?query=" + params[:query] + "&token=" + params[:token] + "&type=forward", refresh: 5) %>